/* body{
    background-color: black;
} */
.centerTag{
    display: flex;
    justify-content: center;
}
.form-control{
    width: 500px;
}
.imgControler{
    width: 450px;
    height: 500px;
}
.Product{
    display: flex;
    flex-direction:column;
}
.divMayor{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.botonFinalizar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.ColorURL{
    text-decoration: none;
    color: white;
}